<h1> Ta-daaaaa! </h1>

	
	<% i = 0 %>
	<% while i < @listings.length do %> 
  <%= @listings[i].city %>
  <%= @listings[i].people %>
  <%= @listings[i].description %> 
  <%= @listings[i].amenities %>
  <% i = i + 1 %> 
  <% end %> 


